# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log

# Debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Build output
dist/
build/